.neonText {
    color: #fff;
    text-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa
}

.neonBorder {
    box-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa;
}
.title{
    font-size: 25px;
}
.invert{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
